.conteudo{
    width: 100%;
    padding-left: 250px;
    align-items: center;
    display: flex;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    /* overflow: scroll;  */
}

.conteudo-pedidos{
    width: 100%;
    padding-left: 250px;
    align-items: initial;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    /* min-height: 100vh; */
    justify-content: start;
}


.conteudo-pedidos-finalizados{
    width: 100%;
    padding-left: 250px;
    align-items: initial;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    /* min-height: 100vh; */
    justify-content: start;
}

.conteudo-cardapio{
    width: 100%;
    padding-left: 250px;
    align-items: center top;
    display: flex;
    height: 100%;
    min-height: 100vh;
    /* overflow: scroll;  */
}