.container-sidebar{
    background-color: #f9f9f9;
    border: 1px solid #DDD;
    border-radius: 10px;
    width: 300px;
    height: fit-content;
    justify-content: center;
    text-align: center;
    float: left;
}

.container-sidebar button{
    width: 100%;
    height: 50px;
    border-style: none;
    background-color: #e3552f;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    border: 0.5px solid #ad4123;
}
.container-sidebar button:hover{
    background-color: #bd4928;
}

.conteudo-paodeforma-dashboard{
    align-items: center;
    display: flex;
    height: 100%;
    min-height: 100vh;
    /* justify-content: center; */
    width: 100%;
    text-align: center;
}

.container-restaurantes-para-checkar{
    background-color: #f9f9f9;
    border: 1px solid #DDD;
    border-radius: 10px;
    width: 600px;
    /* min-height: 150px; */
    height: fit-content;
    /* margin-top: 30px; */
    justify-content: center;
    text-align: center;
    margin-left: 400px;
}

.conteudo-restaurantes-para-checkar{
    padding: 10px;
    height: fit-content;
    width: 600px;
    flex-wrap: wrap;
    width: 60%;
    
}
.conteudo-restaurantes-para-checkar h3{
    float: left;
}
.conteudo-restaurantes-para-checkar p{
    float: left;
    margin-top: 1px;
    margin-bottom: 2px;
}

.linha-horizontal {
    width: 90%;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd; 
    /* margin-bottom: 10px; */
}

.div-que-divide-no-meio{
    display: flex;
}

.conteudo-botoes button{
    width: 200px;
    height: 50%;
    float: right;
    border-style: none;
    cursor: pointer;
}

.verificar{
    background-color: #4cac43;
}
.verificar:hover{
    background-color: #3a8334;
}

.excluir{
    background-color: #cf4a4a;
}
.excluir:hover{
    background-color: #c01c1c;
}

.conteudo-botoe{
    width: fit-content;
    float: right;
}
